<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4cd99373c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Goldman:wght@400;700&family=Inconsolata:wght@300&family=Montserrat:ital,wght@1,300&family=Orbitron:wght@500&family=Rubik:ital,wght@1,300&family=Space+Mono:ital@1&family=Teko:wght@500&family=Turret+Road:wght@500&display=swap" rel="stylesheet">
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
  </head>
  
  <style>

  
  
  .form-select{
  font-family:Comfortaa;
  font-size:15px;
  color: blue;
  margin-top:15px;
  width:50%;

  
  }

 .form-range{
   width:90%;
 }


  
  h3{
  font-family:Comfortaa;
  font-size:10px;
  color: blue;
  
  }
  
  .mensaje{
   color:#333EFF;
   font-size:20px;
   font-family:Montserrat;
   width:90%;   
  
  }

  
 .designer{
  font-size:15px;
  font-family: 'Orbitron', sans-serif;
  color:#808000;
  }

  .form-control{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    
  }

  .totales{
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    color: blue;
    height:30px;
    border-bottom: 1px solid gray;
    margin-top: 15px;
    width:90%;
    
  }

 </style>
  
  
  <body>
  
  
    <form>

<div class="mensaje" id="mensaje"> 
 
</div>

  
<label for="customRange2" class="form-label">Elige tu monto</label>
<input type="range" class="form-range" min="1000" max="15000" value="1000" step="1000"  id="customRange" required>

<div class="mensaje" id="mensaje1"></div>

<!--<label for="customRange2" class="form-label">Elige tu plazo</label>-->
<input type="range" class="form-range" min="1" max="6" step="1" value="1" id="selector1">

<!--<select class="form-select" aria-label="Default select example" id="selector1" required>
  <option disabled selected>PLAZO</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  </select>-->
 
 
 <select class="form-select" aria-label="Default select example" id="selector2" required>
  <option disabled selected>TASA</option>
  <option value="6">6%</option>
  <option value="7">7%</option>
  <option value="8">8%</option>
  <option value="9">9%</option>
  <option value="10">10%</option>
  <option value="11">11%</option>
   <option value="12">12%</option>
  </select>

 <select class="form-select" aria-label="Default select example" id="selector3" required>
  <option disabled selected>FRECUENCIA</option>
  <option value="semanal">SEMANAL</option>
  <option value="quincenal">QUINCENAL</option>
  <!--<option value="MENSUAL">MENSUAL</option>-->
  </select>

 <div class="totales" id="floatingTextarea"></div>
  <div class="totales" id="totales"></div>

<br>
  <button  class="btn btn-primary" id="btn_entrar" onclick="cotizar()">Cotizar</button>
  <button  class="btn btn-danger" id="btn_close" onclick="cerrar()">Cerrar</button>
  <button  class="btn btn-secondary" id="btn_cleean" onclick="limpiar()" >Limpiar</button>
 
</form>
    <br>
   

  

    <h5 class="designer">System  by Roberto Ceratti</h5>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
 

<script>
//slider
var slider = document.getElementById("customRange");
var output = document.getElementById("mensaje");
var slider1 = document.getElementById("selector1");
var output1 = document.getElementById("mensaje1");
output.innerHTML = "$" + slider.value; // Display the default slider value
output1.innerHTML = "Plazo(meses)" + " " + slider1.value;

slider1.oninput = function(){
  output1.innerHTML = "Meses"+ "_" + this.value;
}

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = "$" + this.value;
};



function dowmLoad(){

google.script.run.withSuccessHandler(cerrar).pdfHtml();

};


function cerrar(e){
//google.script.host.close();
google.script.host.close();

};




//FUNCION PARA LIMPIAR CAMPOS

function limpiar(e){
  let monto = document.getElementById("customRange"); 
  let plazo = document.getElementById("selector1");
  let tasa = document.getElementById("selector2");
  let frecuencia = document.getElementById("selector3");
  let resultado = document.getElementById("floatingTextarea");  
  let totales = document.getElementById('totales');
  let mensaje = document.getElementById('mensaje');
  monto.value ="";
  plazo.value = "";
  tasa.value = "";
  frecuencia.value ="";  
  resultado.innerHTML = "$";
  totales.innerHTML = "$";
  
  
 
  };


  
  //COTIZADOR
  function cotizar(){

  let monto = parseFloat( document.getElementById("customRange").value);
  let plazo = parseFloat(document.getElementById("selector1").value);
  let tasa = parseFloat( document.getElementById("selector2").value);
  let frecuencia = document.getElementById("selector3").value;
  let resultado = document.getElementById('floatingTextarea');
  let totales = document.getElementById('totales');
  let formaPago = document.getElementById("selector3").value;
  
  	if (frecuencia == "semanal"){
	frecuencia = 4 * plazo;
	
	} else {
	
	frecuencia = 2 * plazo;
	}
	
  
  var capital = monto /  frecuencia ;
  var intereses = monto * tasa/100 * plazo;
  var interes = intereses / frecuencia;
  var iva =(interes * 16)/100; 
    
  var pago = Math.round(capital + interes + iva );
  var total = Math.round(pago * frecuencia);

  
  
  alertify.success('El pago seria de :$' + pago );

  resultado.innerHTML = "Tu pago sera de: $" + pago + " " + formaPago ;
  totales.innerHTML = "Pago total al plazo: $" + total;


  };
  





//funcion para agragar los datos mediante correr ña funcion de macros 
 /* function add(){
  let monto = document.getElementById("customRange").value;
  let plazo =parseFloat(document.getElementById("selector1").value);
  let tasa =parseFloat( document.getElementById("selector2").value);
  let frecuencia = document.getElementById("selector3").value;
  
  
  const data = {
  monto : monto,
  plazo: plazo,
  tasa: tasa,
  frecuencia: frecuencia,
  
  
  
  };
  if(monto != "" && plazo >0 && tasa != "" && frecuencia != ""){
 
  google.script.run.withSuccessHandler(clear).gastosModal(data);
   alertify.success('El pago seria de :$ !);
   
  
  }else{
   alertify.error('Completa los campos!');
  
  }
  
  
  };*/
  


  /*function cotizar(){

  let monto = parseFloat( document.getElementById("customRange").value);
  let plazo = parseFloat(document.getElementById("selector1").value);
  let tasa = parseFloat( document.getElementById("selector2").value);
  let frecuencia = document.getElementById("selector3").value;
  
  	if (frecuencia == "semanal"){
	frecuencia = 4 * plazo;
	
	} else {
	
	frecuencia = 2 * plazo;
	}
	
  
  var capital = monto /  frecuencia ;
  var intereses = monto * tasa/100 * plazo;
  var interes = intereses / frecuencia;
  var iva =(interes * 16)/100; 
    
  var pago = capital + interes + iva ;
  var total =pago * frecuencia;
  
  alertify.success('El pago seria de :$' + pago);




  };*/



  
   //FUNCION PARA CREAR OPCIOINES EN EL SELECT
  
 /*function opciones(){
 var admon = ["TELEFONO",
 "PAPELERIA",
 "COM BANCARIAS",
 "COMISIONES",
 "MANTENIMIENTO OFNA",
 "HONORARIOS",
 "APOYO SOCIOS",
 "SEGUROS",
 "SISTEMA MAN",
 "LIMPIEZA",
 "GASOLINA",
 "AGUINALDOS",
 "PAGO INTERESES",
 "IMPUESTOS",
 "MOBILIARIO"];
 
 var venta = ["PUBLICIDAD",
"ALIMENTOS",
"SUELDO EJECUTIVO",
"GAS MOTOS",
"SERV MOTOS",
"AGRADECIMIENTOS",
"COM X VENTAS",
"PAGO DE MOTOS",
"SERVICIOS",
"EJEC COBRANZA",
"RENTA DE SUC",
"TEL SUC"];


var ahorro=["Aplicacion Ahorro","Aplicacion Ahorro"];

 let categori = document.getElementById("selector1").value;
 let concept = document.getElementById("selector2");
 let nota = document.getElementById("nota");
 
 
//nota.innerHTML = categori;

if(categori == "GASTOS_ADMON"){
  var admon = admon;
  for(i=0; i<admon.length;i++){
  concept.options[i] = new Option(admon[i],admon[i]);
  }


 }else if(categori == "GASTOS_DE_VENTA"){
  //concept.innerHTML = "";
  var venta = venta;
  for(i=0; i<venta.length;i++){
  concept.options[i] = new Option(venta[i],venta[i]);
  }
 
  }else if(categori == "SALIDA_AHORRO"){
   var ahorro = ahorro;
  for(i=0; i<ahorro.length;i++){
  concept.options[i] = new Option(ahorro[i],ahorro[i]);
  }
 
 }
 
  };*/



  
//EVENTOS
 document.getElementById("selector1").addEventListener("change",opciones);
// success notification
  // Shorthand for:
  // alertify.notify( message, 'success', [wait, callback]);
  

</script>

 
</html>





