<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">  

<style>

.card{
  padding:10px 0;
}

.card-img-top{
  width:80px;
  heigth:80px;
  border-radius:50%;
  margin: auto;
}

body{
  padding:20px 0;
}
  

.grid{
  width:100%;  
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  
}

.card-title{
  color: blue;
  margin-bottom:10px;
}

.card-subtitle{
   margin-bottom:10px;
}

.bg{
  background:purple;
}


.active{
   border-bottom: 1px solid purple;
    width: 30%;   
    
}



.hide{
    display: none;

}

.grafic{
   position: relative; 
   height: 40vh;
    width: 40vw;
 
}

 .bi{
      font-size: 25px;
     
    }

 .chart{min-height:100vh}


</style>

