<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/4cd99373c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Goldman:wght@400;700&family=Inconsolata:wght@300&family=Montserrat:ital,wght@1,300&family=Orbitron:wght@500&family=Rubik:ital,wght@1,300&family=Space+Mono:ital@1&family=Teko:wght@500&family=Turret+Road:wght@500&display=swap" rel="stylesheet">

  </head>
  
  <style>
  
  .designer{
  font-size:15px;
  font-family: 'Orbitron', sans-serif;
  color:#808000;
  }

   select{
    width:80%;
    margin-bottom:20px;
  }

  #importe,#nota{
    width:80%;
    margin-bottom:20px;
  }


  </style>
  
  
  <body>
    <h2 class="titulo">Control de Pagos Noviembre</h2>

  <form>
 
    <select class="selector" id="selector" required>
  <option value="SELECCIONA" disabled selected>Seleccionar Cliente</option> 
    <? for(i=0; i <listado.length;i++){
        ?>
        <option value="<?= listado[i][0] ?>"><?= listado[i][0] ?></option>    
                
        
        <?} ?>   
   
  </select>

  
  
   <input type="number" aria-label="Importe" class="form-control" placeholder="$" id="importe" required>
 <input type="text" aria-label="Importe" class="form-control" placeholder="Nota" id="nota" >


   <button type="button" class="btn btn-success" id="buscar" onclick="enviarPago()">Enviar Pago</button>
  
 
   <button  class="btn btn-danger" id="btn_close" onclick="cerrar()">Cerrar</button>
</form>
    <br>
    <!--<h5 class="designer">Diseño de paginas by Roberto Ceratti</h5>-->
    <h5 class="designer">System by Roberto Ceratti</h5>
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

//FUNCION PARA ACCESAR AL SISTEMA CPN USUARIO Y PASSWORD
function enviarPago(){
var nombre = document.getElementById('selector').value;
var importe = document.getElementById('importe').value;
var anotacion = document.getElementById('nota').value;


if(nombre != "" && importe!= "" ){
google.script.run.withSuccessHandler(pregunta).pagos(nombre,importe,anotacion);

  alertify.success('El Pago esta en proceso espera por favor!');
  retardo();
  
  }else{
   alertify.error('Completa los campos!');
  
  }


};


function retardo(){
      setTimeout(() => {
        toast();
        },4000);

  };

function confirmar (){

let confirmacion = confirm("Deseas enviar otro pago ? ");
if(!confirmacion){
 cerrar();

}else{
pagos();
}

};


function pagos(){
  google.script.run.withSuccessHandler(cerrar).pagosModal();
};


function cerrar(e){
//google.script.host.close();
google.script.host.close();

};


function pregunta(){
 
  Swal.fire({
  title: 'Proceso exitoso, Deseas realizar otro pago?',
  text: "A T T I SYSTEM",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si'
}).then((result) => {
  if (result.isConfirmed) {
   pagos();
  }else{
    cerrar();
  }
})
};


function toast(){
  const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Pago plicado exitosamente!'
})

};


</script>

</html>


